@page "/GIS"
@inject HttpClient Http
@inject IJSRuntime JS
@implements IAsyncDisposable

<PageTitle>GIS</PageTitle>

<h1>GIS</h1>

<div id="map"/>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/GIS.razor.js");
            await module.InvokeVoidAsync("initMap");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
